:root {
	--background: #181818;
	--black: #1d1d1f;
	--light-black: #202020;
	--gray: #686870;
	--light-gray: #dedede;
	--light-green: #ccf5d5;
	--green: #00cc2d;
	--white: #ffffff;
	--font-family: 'Roboto', sans-serif;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	color: var(--white);
	background: var(--background);
	overflow-x: hidden;
	font-family: var(--font-family);
}

a {
	color: inherit;
	text-decoration: none;
}
