.header {
	background-color: #0d0d0d;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.navbar {
		text-transform: uppercase;
		align-items: center;
		font-size: 18px;
		line-height: 20px;
		margin-left: 15px;
		.list {
			display: flex;
			list-style: none;
			gap: 30px;
		}
	}
	.profile {
		display: flex;
		align-items: center;
		gap: 30px;
		font-size: 18px;
		line-height: 20px;
		.disabled {
			display: none;
		}
		.profile_active {
			display: block;
		}
		.search {
			background-color: var(--light-black);
			border: none;
			padding: 20px;
			font-size: 18px;
			line-height: 20px;
			color: var(--white);
		}
	}
}
