.post__wrapper {
	max-width: 680px;
	box-sizing: none;
	justify-content: center;
	align-items: center;
	background-color: var(--light-black);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 5px;
}
.post__body {
	display: flex;
	flex-direction: column;
	gap: 15px;
	.post__text {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: justify;
	}
	.post__info {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		line-height: 14px;
		color: var(--gray);
		.post__date {
			display: flex;
			gap: 35px;
		}
		.post__read {
			color: var(--blue);
			cursor: pointer;
		}
	}
}
